@model List<BlogNew.EF.Yorum>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yorumlar</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">Yorum id</th>
                <th>Ad Soyad</th>
                <th>Email</th>
                <th>Yorum</th>
                <th>Makale id</th>
                <th>Yorum Tarihi</th>
                <th>Yorum Onayı</th>
            </tr>

            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {                    
                    <tr>
                        <td style="width: 10px">@item.Id</td>
                        <td>@item.AdSoyad</td>
                        <td>@item.Email</td>
                        <td>@item.Yorum1</td>
                        <td>@item.Makale.Id</td>
                        <td>@item.CreateTime</td>               
                        <td>
                            @if (item.Onay == false)
                            {
                                <a href="" class="nav-link">Onayla</a>
                            }
                            else
                            {
                                <a href="" class="nav-link">Onayı Kaldır</a>
                            }

                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>




